@charset "utf-8";
@import "./_reset";
@import "./_var";
@import "./_animate";

$color-base: #fffbea;
$color-orange: #cd4c43;
$color-orange-hover: #b03e37;
$color-blue: #286e97;
$color-blue-hover: #1e5b7f;

.main-wrapper {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
html,body{
  height: 100%;
  background: $color-base;
  overflow: hidden;
  position: relative;
}

img{
    display: block;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}
/*黑色线条*/
.line{
    /*background: #0d0d0d;*/
    /*height: rem(2.5);*/
    border-top:rem(2) solid #0d0d0d;
    display: block;
}
/*贱不贱按钮*/
.com_btn{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:rem(132);
  font-size: 0;

  .btn{
    display: inline-block;
    width: rem(236);
    height: rem(76);
    line-height: rem(70);
    border: 2px solid #000;
    border-radius: rem(12);
    color: #fff;
    font-size: rem(45);
    margin: rem(0, 20);
  }

  .btn_no {
    background: $color-orange;

    &:hover, &:active {
      background: $color-orange-hover;
      @include transition(.5s);
    }
  }

  .btn_yes {
    background-color: $color-blue;

    &:hover, &:active {
      background: $color-blue-hover;
      @include transition(.5s);
    }
  }
}
