@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0;
}

:focus {
  outline: 0;
}

address,
b,
caption,
cite,
code,
dfn,
em,
i,
optgroup,
th,
var {
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

button,
input,
optgroup,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code,
kbd,
samp,
tt {
  font-size: 100%;
}

button,
input,
select,
textarea {
  *font-size: 100%;
}

body {
  color: #333;
  font: 12px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

sub,
sup {
  font-size: 100%;
  vertical-align: baseline;
}

:link,
:visited,
del,
ins {
  text-decoration: none;
}

a,
a:active,
a:link,
a:visited {
  border: 0 none;
  background: none;
  color: #333;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #ed1c24;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

.main-wrapper {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  background: #fffbea;
  overflow: hidden;
  position: relative;
}

img {
  display: block;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

/*黑色线条*/

.line {
  background: #0d0d0d;
  height: 2px;
  display: block;
}

/*贱不贱按钮*/

.com_btn {
  position: absolute;
  bottom: 3.3rem;
  margin-left: 2.9rem;
}

.com_btn .btn {
  display: inline-block;
  width: 5.9rem;
  background: #286e97;
  height: 1.9rem;
  line-height: 1.75rem;
  border: 2px solid #000;
  border-radius: 0.3rem;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
}

.com_btn .btn_no {
  background: #cd4c43;
  margin-left: 1rem;
}

.com_btn .btn_no:active {
  background: #b03e37;
}

.com_btn .btn_yes:active {
  background: #1e5b7f;
}

.page3 {
  height: 100%;
  width: 100%;
  background: url(../img/H5_part03.jpg) no-repeat;
  background-size: 100% auto;
}

.page3 .car {
  position: absolute;
  top: 10.925rem;
  left: 2.95rem;
  width: 9.35rem;
}

.page3 .cd {
  position: absolute;
  top: 18.75rem;
  left: -1.125rem;
  width: 5.4rem;
}