@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0;
}

:focus {
  outline: 0;
}

address,
b,
caption,
cite,
code,
dfn,
em,
i,
optgroup,
th,
var {
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

button,
input,
optgroup,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code,
kbd,
samp,
tt {
  font-size: 100%;
}

button,
input,
select,
textarea {
  *font-size: 100%;
}

body {
  color: #333;
  font: 12px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

sub,
sup {
  font-size: 100%;
  vertical-align: baseline;
}

:link,
:visited,
del,
ins {
  text-decoration: none;
}

a,
a:active,
a:link,
a:visited {
  border: 0 none;
  background: none;
  color: #333;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #ed1c24;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

@keyframes upToDown {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  50% {
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.main-wrapper {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  background: #fffbea;
  overflow: hidden;
  position: relative;
}

img {
  display: block;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

/*黑色线条*/

.line {
  /*background: #0d0d0d;*/
  /*height: rem(2.5);*/
  border-top: 0.05rem solid #0d0d0d;
  display: block;
}

/*贱不贱按钮*/

.com_btn {
  position: absolute;
  bottom: 3.3rem;
  margin-left: 2.9rem;
}

.com_btn .btn {
  display: inline-block;
  width: 5.9rem;
  background: #286e97;
  height: 1.9rem;
  line-height: 1.75rem;
  border: 2px solid #000;
  border-radius: 0.3rem;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
}

.com_btn .btn_no {
  background: #cd4c43;
  margin-left: 1rem;
}

.com_btn .btn_no:active {
  background: #b03e37;
}

.com_btn .btn_yes:active {
  background: #1e5b7f;
}

.page3 {
  height: 100%;
  width: 100%;
  background: #fffbea;
}

.page3 .square {
  position: absolute;
  top: 8%;
  left: 0;
  height: 18%;
}

.page3 .cd02 {
  position: absolute;
  top: 51%;
  left: -1.375rem;
  height: 21%;
}

.page3 .square02 {
  position: absolute;
  top: 60%;
  right: 0;
  height: 19%;
}

.page3 .piano {
  position: absolute;
  top: 20%;
  right: 0;
  height: 26%;
}

.page3 .car {
  position: absolute;
  top: 30%;
  left: 0.2rem;
  height: 15%;
  z-index: 99;
}

.page3 .com_btn {
  bottom: 10%;
}

.page3 .line8_1 {
  position: absolute;
  width: 3.75rem;
}

.page3 .line8_1 .line8_1_1 {
  width: 2.5rem;
  float: left;
}

.page3 .line8_1 .line8_1_2 {
  width: 0.35rem;
  float: left;
  margin-left: 0.25rem;
}

.page3 .line8_1 .line8_1_3 {
  width: 2.5rem;
  float: right;
  margin-top: 0.35rem;
}

.page3 .line8_1 .line8_1_4 {
  width: 0.35rem;
  float: right;
  margin-top: 0.45rem;
  margin-left: 0.25rem;
}

.page3 .line8_t1 {
  top: 3%;
  left: 5.375rem;
}

.page3 .line8_t2 {
  top: 23%;
  left: 9.25rem;
}

.page3 .line8_t3 {
  top: 45%;
  left: 0;
}

.page3 .line8_t4 {
  top: 56%;
  left: 10.9rem;
}

.page3 .line8_t5 {
  bottom: 18%;
  left: 6.575rem;
}

.page3 .line8_t6 {
  bottom: 5%;
  left: 0.55rem;
}

.page3 .line8_t7 {
  bottom: 3%;
  right: 2rem;
}

.page3 .line8_t8 {
  top: 45%;
  left: 9.7rem;
}

.page3 .line8_t9 {
  top: 132%;
  left: 11.85rem;
}

.page3 .line8_d1 {
  top: 8%;
  right: 0;
  width: 3.1rem;
}