@import "./base/_base";

.page3{
    height:100%;
    width:100%;
    background:url(../img/H5_part03.jpg) no-repeat;
    background-size:100% auto;
    background-position:center center;
    .car{
        position:absolute;
        top:rem(437);
        left:rem(118);
        width:rem(374);
    }
    .cd{
        position:absolute;
        top:rem(750);
        left:rem(-45);
        width:rem(216);
    }
}