@import "./base/_base";

.page7 {
  height: 100%;
  width: 100%;
  background: $color-base;
  padding-top: rem(40);

  .car {
    position: absolute;
    top: rem(437);
    left: rem(118);
    width: rem(374);
  }

  .bz {
    width: 90%;
    line-height: rem(75);
    background: #000;
    color: #fff;
    margin: 0 auto rem(60);
    font-size: rem(30);
    padding: 0 rem(30);
    box-sizing: border-box;
    border-radius: rem(15);
  }

  .header {
    width: rem(80);
    height: rem(80);
    border-radius: rem(8);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }

  audio {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .info1 {
    width: 100%;
    padding: rem(0, 20);
    font-size: 0;
    white-space: nowrap;
    text-align: left;

    .box_middle {
      display: inline-block;
      vertical-align: top;
      margin-left: rem(10);
      border: rem(2) solid #000;
      height: rem(80);
      background: $color-blue;
      width: rem(300);
      border-radius: rem(8);
      padding: 0 15px;
      position: relative;
      z-index: 999999;
    }

    .box_middle:after,
    .box_middle:before {
      border: rem(8) solid transparent;
      border-right: rem(8) solid $color-blue;
      width: 0;
      height: 0;
      position: absolute;
      z-index: 99999;
      top: 50%;
      margin-top: rem(-8);
      left: rem(-16);
      content: '';
    }

    .box_middle:before {
      border-right-color: #000;
      left: rem(-18);
    }

    .volume {
      width: rem(26);
      height: rem(35);
      background-image: url('../img/bo3.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: left center;
      margin-top: rem(18);

      &.bo {
        @include animation(voice, 1.5s, linear, infinite);
      }
    }

    .miao {
      line-height: rem(80);
      color: #000;
      font-size: rem(24);
      display: inline-block;
      vertical-align: top;
      margin-left: rem(10);
    }
  }

  .info2 {
    width: 100%;
    margin-top: rem(40);
    font-size: 0;
    white-space: nowrap;

    .box_middle {
      line-height: rem(80);
      font-size: rem(30);
      color: #fff;
      width: auto;
      min-width: rem(20);
    }
  }

  .info3 {
    width: 100%;
    margin-top: rem(40);

    .box {
      overflow: hidden;
    }

    .header {
      float: right;
    }

    .box_middle {
      float: right;
      margin-right: rem(10);
      background: $color-orange;
    }

    .box_middle:after,
    .box_middle:before {
      border: rem(8) solid transparent;
      border-left: rem(8) solid $color-orange;
      left: auto;
      right: rem(-16);
    }

    .box_middle:before {
      border-left-color: #000;
      right: rem(-18);
    }

    .volume {
      float: right;
      transform: rotate(180deg);
    }

    .miao {
      float: right;
      margin-right: rem(10);
    }

    .reListen {
      border: rem(2) solid #000;
      height: rem(80);
      background: $color-grey;
      width: rem(236);
      border-radius: rem(8);
      line-height: rem(80);
      font-size: rem(30);
      color: #fff;
      text-align: center;
      float: right;
      margin: rem(20) rem(90) 0 0;
      position: relative;
    }

    .reListen:active {
      background: $color-grey-hover;
    }

    .reListen:after,
    .reListen:before {
      border: rem(12) solid transparent;
      border-bottom: rem(12) solid $color-grey;
      width: 0;
      height: 0;
      position: absolute;
      top: rem(-24);
      margin-left: rem(-12);
      left: 50%;
      content: ' ';
    }

    .reListen:before {
      border-bottom-color: #000;
      top: rem(-26);
    }
  }

  .com_btn {
    bottom: 15%;

    .btn_no {
      margin: 0;
    }

    .btn_yes {
      margin-left: rem(40);
    }
  }

  .audio_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: rem(100);
    text-align: center;
    background: $color-blue;
    color: #fff;
    font-size: rem(45);
    border-top: 2px solid #000;
    user-select: none;
    display: none;
  }

  .audio_btn:active {
    background: $color-blue-hover;
  }

  .bd {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
  }
  /*横线*/
  .line8_6 {
    position: absolute;
    top: 41%;
    left: 0;
    width: rem(140);

    .line8_6_1 {
      width: rem(97);
    }

    .line8_6_2 {
      width: rem(98);
      margin: rem(12) 0 0 rem(41);
    }

    .tree8 {
      width: rem(39);
      margin-left: rem(28);
    }
  }

  .line8_5 {
    position: absolute;
    top: 17%;
    right: 0;
    width: rem(94);

    .line8_5_1 {
      width: rem(94);
    }

    .line8_5_2 {
      width: rem(58);
      margin-top: rem(16);
      float: right;
    }
  }

  .line8_7 {
    position: absolute;
    top: 52%;
    right: 0;
    width: rem(130);

    .line8_7_1 {
      width: rem(100);
      float: left;
    }

    .line8_7_2 {
      width: rem(11);
      float: right;
    }

    .line8_7_3 {
      width: rem(80);
      float: right;
      margin-top: rem(14);
    }

    .street_signs8 {
      width: rem(49);
      margin-left: rem(30);
    }
  }

  .line8_3 {
    position: absolute;
    top: 64%;
    left: 0;
    width: rem(80);

    .line8_3_1 {
      width: rem(80);
    }

    .line8_3_2 {
      width: rem(60);
      margin-top: rem(14);
    }
  }

  .line8_1 {
    position: absolute;
    top: 62%;
    left: rem(430);
    width: rem(121);

    .line8_1_1 {
      width: rem(98);
      float: left;
    }

    .line8_1_2 {
      width: rem(14);
      float: right;
      margin-top: rem(1);
    }
  }

  #topic-talk {
    display: none;
  }
}
