@import "./base/_base";

.page4{
    height:100%;
    width:100%;
    background:url(../img/H5_part04.jpg) no-repeat;
    background-size:100% auto;
    .car{
        position:absolute;
        top:rem(101);
        left:rem(18);
        width:rem(374);
    }
}