@import "./base/_base";

.main-wrapper {
  width: 100%;
}

header {
  height: rem(80);
  line-height: rem(80);
  background: #abcdef;
  font-size: rem(30);
}

content {
  font-size: rem(40);
  color: #ef096c;
}
