@import "./base/_base";

.main-wrapper {
  width: 100%;
  height: 100%;
}
.page2 {
  width: 100%;
  height: 100%;
  background: url('../img/point_bg.png') no-repeat;
  background-size: cover;
  position: relative;

  .top-part {
    width: 100%;
    height: 85%;
    background: url('../img/part2-top-bg.png') no-repeat;
    background-size: contain;
    background-position: top left;
    position: relative;

    .house {
      position: absolute;
      top: 0;
      left: 0;
      width: rem(350);
      height: 35%;
      background: url('../img/floor01.png') no-repeat;
      background-size: contain;
      @include animation(twinkle, 6s, linear, infinite);
    }

    .cloud {
      width: rem(232);
      position: absolute;
      top: 5%;
      right: 0;
      line-height: 0;

      img {
        width: 100%;
      }
    }

    .car {
      width: rem(370);
      position: absolute;
      top: rem(512);
      left: - rem(380);

      audio {
        width: 0;
        height: 0;
        opacity: 0;
      }

      .car-sw {
        line-height: 0;
        width: 100%;

        .open {
          display: none;
        }

        .close {
          display: block;
        }

        &.open {
          .open {
            display: block;
          }

          .close {
            display: none;
          }
        }
      }

      img {
        width: 100%;
      }
    }

    .welcome {
      width: rem(60);
      position: absolute;
      top: rem(614);
      left: rem(490);

      .sign {
        width: 100%;
        height: 100%;
        line-height: 0;
        position: relative;
      }

      img {
        width: 100%;
      }

      .welcome-txt {
        width: rem(160);
        height: rem(68);
        background: url('../img/bubble.png') no-repeat;
        background-size: contain;
        text-align: center;
        line-height: rem(54);
        font-size: rem(32);
        position: absolute;
        top: - rem(78);
        left: 50%;
        display: none;
        margin-left: - rem(80);
      }
    }

    .bottle {
      width: rem(167);
      line-height: 0;
      position: absolute;
      top: 75%;
      left: rem(453);
      @include animation(upToDown, 3s, linear, infinite);

      img {
        width: 100%;
      }
    }
  }

  .bottom-part {
    width: 100%;
    height: 15%;
    display: block;
    z-index: 99;

    .com_btn {
      position: static;
    }
  }
}
