@import "./base/_base";

.page4{
    height:100%;
    width:100%;
    background:url(../img/H5_part04.jpg) no-repeat;
    background-size:100% auto;
    background-position:center center;
    .car{
        position:absolute;
        top:8%;
        left:rem(18);
        width:rem(374);
    }
    .com_btn{
        bottom:6%;
    }
}